{% extends 'base.html' %}
{% block content %}
<div class="container mt-4" style="padding-top: 100px;"">
    <h2>User Registration</h2>
        <form method="POST">
            <div class="row mt-5">
                <div class="col-md-12">
                    {{ form.hidden_tag() }}
                    {{ form.first_name.label }} {{ form.first_name(class="form-control") }}
                    {{ form.surname.label }} {{ form.surname(class="form-control") }}
                    {{ form.email.label }} {{ form.email(class="form-control") }}
                    {{ form.phone_number.label }} {{ form.phone_number(class="form-control") }}
                    {{ form.street_address.label }} {{ form.street_address(class="form-control") }}
                    {{ form.password.label }} {{ form.password(class="form-control") }}
                    {{ form.confirm_password.label }} {{ form.confirm_password(class="form-control") }}
                    {{ form.submit(class="btn btn-primary mt-3 mb-5") }}
                </div>
            </div>
        </form>
</div>
{% endblock %}




